.box1 {
    background:lightcoral;
}
.box2 {
    background:lightblue;
}
.box3 {
    background:lightgreen;
}

main {
    margin: 30px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.box3 {
    grid-column-start: 1 ;
    grid-column-end: 3 ;
}
