.box1 {
    background:lightcoral;
}
.box2 {
    background:lightblue;
}
.box3 {
    background:lightgreen;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
}
